@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@flaticon/flaticon-uicons/css/all/all";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
}
.container{
  width: 90%;
  margin: auto;
}
@media screen and (max-width:1024px) {
  .container{
    width: 98%;
  }
}
/** nav and responsive ***/
.nav-links{
  display: flex;
}
@media screen and (max-width:1024px) {
  .nav-links{
    display: none;
  }
  .nav-links-mobile{
    display: block;
    width : 100%;
    margin: 15px 0px ;
  }
  .nav-links-mobile li:hover{
    transform: translateX(10px);
    transition:0.4s all  ;
}
  .nav-links-mobile li a{
  display:block;
  font-size: 18px;
  border-radius: 6px;
  margin-top: 4px;
  padding: 6px 2px;
  transition: 0.4s all;
}
  .nav-links-mobile li a:hover{
    background-color: #ddd;
}
  nav .logo{
    margin-bottom: 15px;
  }
}
/*****categories */
.categories .container .box .layout{
  transition: 0.5s all ease-in-out ;
}
.categories .container .box .layout h1{
    color: rgb(30 41 59 / var(--tw-text-opacity));
}
.categories .container .box .layout p{
    color: gray;
}
.categories .container .box .layout:hover{
  background-color: rgb(37 99 235 / 0.4);
}
.categories .container .box .layout:hover > h1{
  color: white;
}
.categories .container .box .layout:hover > p{
  color: white;
  text-decoration: underline;
}
.categories .container .box .layout a{
  display: none;
  transition: 0.5s all;
}
.categories .container .box .layout:hover > a{
  display: block;
  color: white;
  text-decoration: underline;
}
/**********products comp *****/
.products .preview .pic a{
  position: absolute;
  /*background-color: rgb(37 99 235 / 0.4);
  */bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.4s all;
  background-color: white;
  padding: 4px 15px;
  border-radius:15px ;
}
.products .preview .pic a:hover{
  background-color: rgb(37, 100, 235);
  box-shadow: 3px 5px 10px #ddd;
  color:white;

}
.products .preview .pic:hover a{
  bottom: 15px;
}
.active-input{
  color: black;
  text-decoration: underline;
  font-weight: bold;
}
/********blog page *******/
.blog-page .blog-header,
.about-page .about-header,
.contact-page .contact-header{
  background-image: url(./assets/blog/blogheader.jfif);
  background-size: cover;
  background-position:center ;
}

